*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  position: fixed;
  width: 420px;
  height: 8%;
  background-color: black;
}

.location {
  border-bottom: 1px solid darkgrey;
  width: 100%;
  padding: 5%;
  background-color: lightgrey;
  line-height: 20px;
}

.arrow {
  float: right;
  padding-top: 3%;
  font-size:  .7em;
}

.restaurant-list {
  padding-top: 13%;
}

.location:hover {
  background-color: darkgrey;
}

.arrow-left {
  padding: 5%;
  font-size: .7em;
}

.content {
  display: inline-block;
}

.content h1 {
  font-family: arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.content h3 {
  font-family: arial, sans-serif;
  font-size: .8em;
}
